
{% for label, messages in app.flashes %}
    {% for message in messages %}                
        <div class="alert alert-{{ label }}" role="alert">
            <center>{{ message }}</center>
        </div>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}

